body {
background-color: antiquewhite;

}

h1{
    color: rgb(87, 151, 151);
    background-image: linear-gradient()
    
}
.first{
    margin: 20px;
    padding: -10px;
    background-color: #CBAF85;
}
.middle{
    margin: 40px;
    background-color: #B08673;
    
}
.last{
    margin: 60px;
    background-color:#CAA8D1 ;
}